@use '../util/extends';

.section
{
    color: #183153;
    padding-top: 96px;

    &__header
    {
        letter-spacing: .3em;
        margin-bottom: 1.5em;
    }
    &__title
    {
        text-align: left;
        font-size: 2em;
        margin-bottom: 1em;
    }
    &__description
    {
        line-height: 1.6em;
    }
}

@media only screen and (max-width:1148px) 
{
   .section
   {
      padding-top: 64px;
   }
}

@media only screen and (max-width:767px) 
{
    .section
    {
       padding-top: 49px;
    }
}