@use '../util/extends';

.everyone-block
{
    @extend .block-pad;
    background-color: #f0f1f3;
}
.everyone
{
    @extend .container;
    
    &__top-container
    {
        @extend .flex;
        align-items: flex-start;
        margin-bottom: 5.8em;
    }
    &__left-container,&__right-container
    {
        flex: 50%;
    }
    &__left-container
    {
        padding: 95px 16px 0 0;
    }
    &__head-title
    {
        color: #0ca678;
    }
    &__description
    {
        margin-bottom: 3.3em;
    }
    &__link
    {
        @extend .button-awesome;
        background-color: #63e6be;
        
        &:hover
        {
            background-color: rgb(12, 166, 120);
        }
    }

    &__right-container
    {
        @extend .flex;
        justify-content: center;
        padding: 0 16px;
        position: relative;
    }

    &__bottom-container
    {
        @extend .flex;
        align-items: flex-start;
        gap: 2em;
    }
    &__box
    {
        @extend .flex;
        flex: 1;
        height: 18.625em;
        background-color: #fff;
        border-radius: 1em;
        flex-direction: column;
        padding: 20px 24px;

        &-icon
        {
            font-size: 3em;
            padding: 24px;
            color: #0ca678;
        }
        &-title
        {
            width: 100%;
            text-align: left;
            font-size: 1.1em;
            margin: .8em 0 11.25px;
        }
        &-description
        {
            font-size: .8em;
            line-height: 21px;
        }
    }

    &__git-container
    {
        margin-top: 3.5em;
    }
    &__git
    {
        @extend .flex;
        justify-content: center;
        flex-wrap: wrap;

        &-box
        {
            border: 1px solid rgb(207 211 215);
            border-radius: .3em;
            overflow: hidden;
        }
        &-link
        {
           @extend .link;
           display: flex;
           padding: 1px .4em;
           background-color: #fff;

           &--background
           {
              border-right: 1px solid rgb(207 211 215);
              background-color: rgb(235, 240, 244);
              background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
              
              &:hover
              {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient id='o' x2='0' y2='1'%3e%3cstop stop-color='%23f3f4f6'/%3e%3cstop offset='90%25' stop-color='%23e9ebef'/%3e%3c/linearGradient%3e%3crect width='100%25' height='100%25' fill='url(%23o)'/%3e%3c/svg%3e");
              }
           }
           &--no-background
           {
               background-color: transparent;
               margin-right: 1.5em;
           }
           strong
           {
              @extend .flex;
              line-height: 22px;
           }
           span
           {
              font-size: 11px;
              line-height: 18px;
              margin-left: .2em;
           }
           &:not(.everyone__git-link--hover-cyan,.no-hover-color):hover
           {
              color: #183153;
           }
        }
        &-icon
        {
            font-size: 1.5em;
            margin-right: .8em;

            &--size
            {
                font-size: .8em;
                margin-right: 0;

                span
                {
                    color: #24292f;
                }
            }
        }
        &-flex,&-box
        {
            @extend .flex;
        }
        &-flex
        {
            gap: .5em;
        }

    }
}

@media only screen and (max-width:1148px) 
{
    .everyone
    {
        &__right-container
        {
            justify-content: center;
            
            img
            {
                position: absolute;
                top: 0;
                left: 2em;
                width: 150%;
            }
        }
        &__box
        {
            height: 25em;
        }
    }  
}

@media only screen and (max-width:767px) 
{
    .everyone
    {
        font-size: 12px;

        &__top-container
        {
            flex-direction: column;
            flex-flow: column-reverse;
        }
        &__link
        {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        &__left-container
        {
            padding: 60px 0 0 0;
        }
        &__right-container
        {
            justify-content: center;
            width: 100%;
            img
            {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
        &__bottom-container
        {
            flex-direction: column;
        } 
        &__box
        {
            padding: 0.9375em 1.125em;
            height: 11.25em;
            width: 100%;

            &-description
            {
                line-height: 16px;
            }
        }
        &__git-icon
        { 
            
            &--size
            {
                font-size: 1.1em;
            }
        }
    } 
    
}
