@font-face 
{
    font-family: 'Cera Round Pro Regular';
    font-style: normal;
    font-weight: normal bolder;
    src: local('Cera Round Pro Regular'), url('../dist-files/fonts/TypeMates  CeraRoundProRegular.woff') format('woff');
}


@font-face 
{
    font-family: 'Cera Round Pro Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Cera Round Pro Thin'), url('../dist-files/fonts/TypeMates  CeraRoundProThin.woff') format('woff');
}


@font-face 
{
    font-family: 'Cera Round Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Cera Round Pro Light'), url('../dist-files/fonts/TypeMates  CeraRoundProLight.woff') format('woff');
}


@font-face 
{
    font-family: 'Cera Round Pro Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Cera Round Pro Medium'), url('../dist-files/fonts/TypeMates  CeraRoundProMedium.woff') format('woff');
}


@font-face 
{
    font-family: 'Cera Round Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Cera Round Pro Bold'), url('../dist-files/fonts/TypeMates  Cera Round Pro Bold.woff') format('woff');
}


@font-face 
{
    font-family: 'Cera Round Pro Black';
    font-style: normal;
    font-weight: normal;
    src: local('Cera Round Pro Black'), url('../dist-files/fonts/TypeMates  CeraRoundProBlack.woff') format('woff');
}